<a href="https://colab.research.google.com/github/JoseAlbertoSeco/BlablacarCarpooling_DataMining/blob/Patterns/notebooks/Agrupacion_Fechas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files

In [ ]:
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/df_totalFestivosAndalucia.csv
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/df_totalFestivosCLM.csv
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/interim/df_CLMLocalizado.csv

--2021-12-28 17:36:35--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/df_totalFestivosAndalucia.csv
Resolving github.com (github.com)... 52.69.186.44
Connecting to github.com (github.com)|52.69.186.44|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_totalFestivosAndalucia.csv [following]
--2021-12-28 17:36:36--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_totalFestivosAndalucia.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_totalFestivosAndalucia.csv [following]
--2021-12-28 17:36:36--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_totalFestivosAndalucia.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14101 (14K) [text/plain]
Saving to: ‘df_totalFestivosAndalucia.csv.2’

df_totalFestivosAnd 100%[===================>]  13.77K  --.-KB/s    in 0s

2021-12-28 17:36:36 (62.9 MB/s) - ‘df_totalFestivosAndalucia.csv.2’ saved [14101/14101]

--2021-12-28 17:36:36--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/df_totalFestivosCLM.csv
Resolving github.com (github.com)... 13.114.40.48
Connecting to github.com (github.com)|13.114.40.48|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_totalFestivosCLM.csv [following]
--2021-12-28 17:36:36--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_totalFestivosCLM.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_totalFestivosCLM.csv [following]
--2021-12-28 17:36:36--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_totalFestivosCLM.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15334 (15K) [text/plain]
Saving to: ‘df_totalFestivosCLM.csv.2’

df_totalFestivosCLM 100%[===================>]  14.97K  --.-KB/s    in 0s

2021-12-28 17:36:36 (31.5 MB/s) - ‘df_totalFestivosCLM.csv.2’ saved [15334/15334]

--2021-12-28 17:36:36--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/df_CLMLocalizado.csv
Resolving github.com (github.com)... 13.114.40.48
Connecting to github.com (github.com)|13.114.40.48|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_CLMLocalizado.csv [following]
--2021-12-28 17:36:36--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_CLMLocalizado.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_CLMLocalizado.csv [following]
--2021-12-28 17:36:36--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_CLMLocalizado.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2681302 (2.6M) [text/plain]
Saving to: ‘df_CLMLocalizado.csv.2’

df_CLMLocalizado.cs 100%[===================>]   2.56M  --.-KB/s    in 0.08s

2021-12-28 17:36:36 (31.3 MB/s) - ‘df_CLMLocalizado.csv.2’ saved [2681302/2681302]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
andalucia = pd.read_csv("/content/drive/MyDrive/Datos/df_AndaluciaLocalizado.csv") 
andalucia = andalucia.drop(andalucia.columns[[0]], axis=1)
andalucia.head(3)

          DIA   AÑO  SEMANA  ...  PROVINCIA_ORIGEN PROVINCIA_DESTINO INTERPROVINCIAL
0  2017-11-01  2017      44  ...           Almería           Granada              No
1  2017-11-03  2017      44  ...           Almería           Granada              No
2  2017-11-05  2017      44  ...           Almería           Granada              No

[3 rows x 18 columns]

In [ ]:
clm = pd.read_csv("df_CLMLocalizado.csv") 
clm = clm.drop(clm.columns[[0]], axis=1)
clm.head(3)

          DIA   AÑO  SEMANA  ...  PROVINCIA_ORIGEN PROVINCIA_DESTINO INTERPROVINCIAL
0  2017-11-05  2017      44  ...          Albacete       Guadalajara              No
1  2017-11-12  2017      45  ...          Albacete       Guadalajara              No
2  2017-11-19  2017      46  ...          Albacete       Guadalajara              No

[3 rows x 18 columns]

In [ ]:
festivos_andalucia = pd.read_csv("df_totalFestivosAndalucia.csv")
festivos_andalucia = festivos_andalucia.drop(festivos_andalucia.columns[[0]], axis=1)
festivos_andalucia.head(3)

     Festivos   AÑO  ...  MES                                          Municipio
0  2017-01-06  2017  ...    1  ['Motril', 'Linares', 'Granada', 'Alcalá de Gu...
1  2017-04-14  2017  ...    4  ['Motril', 'Linares', 'Granada', 'Alcalá de Gu...
2  2017-05-01  2017  ...    5  ['Motril', 'Linares', 'Granada', 'Alcalá de Gu...

[3 rows x 5 columns]

In [ ]:
festivos_clm.dtypes

Festivos     object
AÑO           int64
SEMANA        int64
MES           int64
Municipio    object
dtype: object

In [ ]:
festivos_clm = pd.read_csv("df_totalFestivosCLM.csv")
festivos_clm = festivos_clm.drop(festivos_clm.columns[[0]], axis=1)
festivos_clm.head(3)

     Festivos   AÑO  ...  MES                                          Municipio
0  2017-01-06  2017  ...    1  ['Tomelloso', 'Alovera', 'Toledo', 'La Roda', ...
1  2017-04-14  2017  ...    4  ['Tomelloso', 'Alovera', 'Toledo', 'La Roda', ...
2  2017-05-01  2017  ...    5  ['Tomelloso', 'Alovera', 'Toledo', 'La Roda', ...

[3 rows x 5 columns]

## Dias Festivos a Obtener

In [ ]:
import datetime

In [ ]:
def leap_year(year: str) -> bool:
  year = int(year)
  return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)


def obtain_days(month: str, year: str):
    # Abril, junio, septiembre y noviembre tienen 30
    if month in ['4', '6', '9', '11']:
        return 30
    # Febrero depende de si es o no bisiesto
    if month == '2':
        if leap_year(year):
            return 29
        else:
            return 28
    else:
        # En caso contrario, tiene 31 días
        return 31

In [ ]:
def get_new_holidays(date, diff):
  if diff == 'one':
    days_month = obtain_days(str(date.month), str(date.year))
 
    month_str = ''
    year_str = ''
    day_str = ''

    day= int(date.day) +1
    if day > days_month:
      day_str = '01'
      if date.month+1 > 12:
        year_str = str(date.year+1)
        month_str = '01'
      else:
        month_str = str(date.month+1)
        year_str = str(date.year)
    else:
      day_str =str(date.day+1)
      year_str = str(date.year)
      month_str = str(date.month)

    date_str = year_str+'-'+month_str+'-'+day_str
    return datetime.datetime.strptime(date_str, '%Y-%m-%d')

  if diff == 'two':
    days_month = obtain_days(str(date.month), str(date.year))
 
    month_str1 = ''
    year_str1 = ''
    day_str1 = ''

    day=int(date.day) +1
    if day > days_month:
      day_str1 = '01'
      if date.month+1 > 12:
        year_str1 = str(date.year+1)
        month_str1 = '01'
      else:
        month_str1 = str(date.month+1)
        year_str1 = str(date.year)
    else:
      day_str1 =str(date.day+1)
      year_str1 = str(date.year)
      month_str1 = str(date.month)

    date_str1 = year_str1+'-'+month_str1+'-'+day_str1
 
    month_str2 = ''
    year_str2 = ''
    day_str2 = ''

    day = int(date.day)+2
    if day > days_month:
      day_str2 = '01'
      if date.month+1 > 12:
        year_str2 = str(date.year+1)
        month_str2 = '01'
      else:
        month_str2 = str(date.month+1)
        year_str2 = str(date.year)
    else:
      day_str2 =str(date.day+2)
      year_str2 = str(date.year)
      month_str2 = str(date.month)

    date_str2 = year_str2+'-'+month_str2+'-'+day_str2

    return datetime.datetime.strptime(date_str1, '%Y-%m-%d') ,datetime.datetime.strptime(date_str2, '%Y-%m-%d')

nueva_fila = {'name':'Geo', 'physics':87, 'chemistry':92, 'algebra':97}

 Añadiendo una fila al dataframe

df_marks = df_marks.append(nueva_fila, ignore_index=True)

df = pd.DataFrame(np.random.randint(1,20,size=(20, 4)), columns=list('ABCD'))

In [ ]:

def to_date(date):
  return datetime.datetime.strptime(date, '%Y-%m-%d')
  
def to_string(date):
  date_ret = date.strftime('%Y-%m-%d')
  return date_ret

def create_new_row(date, df):
  municipios = df['Municipio'].tolist()
  municipios=set(municipios)
  month = df['MES'].tolist()
  if len(month) == 1:
    month = str(month[0])
  year = df['AÑO'].tolist()
  year = str(year[0])
  week = str(df['SEMANA'].tolist()[0])

  dic = {'Festivos': date,'AÑO':year ,'SEMANA': week,'MES': month, 'Municipio':municipios}
  return dic

def agrupar_festivos(festivos, autonomia):
  list_dates = festivos["Festivos"].tolist()
  sort_dates = [(lambda x: to_date(x))(x) for x in list_dates]
  sort_dates = sorted(sort_dates)

  counter = 1
  df = pd.DataFrame()
  for i in sort_dates:
    if counter < len(sort_dates):
      difference =  abs(i - sort_dates[counter])
      if difference == datetime.timedelta(days=2):
        date1, date2 = get_new_holidays(i, 'two')
        locate_date = str(to_string(i))

        df = festivos.loc[festivos['Festivos'] == locate_date]
        
        dic1 = create_new_row(date1, df)
        dic2 = create_new_row(date2, df)
        festivos.append(dic1, ignore_index=True)
        festivos.append(dic2, ignore_index=True)
        
      if difference == datetime.timedelta(days=1):
        date = get_new_holidays(i, 'one')
        sort_dates.append(date)

        locate_date = str(to_string(i))

        df = festivos.loc[festivos['Festivos'] == locate_date]
        dic= create_new_row(date, df)
        festivos.append(dic, ignore_index=True)
      counter += 1
  
  final_dates = [(lambda x: to_string(x))(x) for x in sort_dates]

  return festivos

In [ ]:
clm_full_festivos = agrupar_festivos(festivos_clm, clm)
clm_full_festivos.tail(5)

       Festivos   AÑO  SEMANA  MES Municipio
161  2017-09-01  2017      35    9  Torrijos
162  2018-05-19  2018      20    5  Torrijos
163  2018-09-01  2018      35    9  Torrijos
164  2019-05-19  2019      20    5  Torrijos
165  2019-09-01  2019      35    9  Torrijos

In [ ]:
andalucia_full_festivos = agrupar_festivos(festivos_andalucia, andalucia)
andalucia_full_festivos.tail(5)

       Festivos   AÑO  SEMANA  MES Municipio
159  2019-09-09  2019      37    9   Andújar
160  2019-09-13  2019      37    9   Andújar
161  2017-08-28  2017      35    8   Linares
162  2018-08-28  2018      35    8   Linares
163  2019-08-28  2019      35    8   Linares

# Focalización de filas

In [ ]:
def get_coincidentes(days, df_autonomia):
  coincident_days = []
  for i in days:
    if df_autonomia[df_autonomia['DIA']==i].size != 0:
      coincident_days.append(i)

  return coincident_days

def crear_localizador_por_fechas(festivos, df_autonomia):
  # Obtención de todos los festivos de esa comunidad
  df_festivos = pd.DataFrame()
  df_festivos['Festivos'] = festivos['Festivos'].apply(lambda x: x.strftime('%Y-%m-%d'))
  dias_festivos = (df_festivos['Festivos'].values).tolist()

  # Obtener los viajes que coinciden con dias festivos, devuelve una lista
  dias_festivos = get_coincidentes(dias_festivos, df_autonomia)

  df_final = df_autonomia[df_autonomia['DIA']==dias_festivos.pop()]
  for day in dias_festivos:
    dia = df_autonomia[df_autonomia['DIA']==day]
    df_final = pd.concat((df_final, dia))

 
  return df_final

In [ ]:
andalucia_full_festivos['Festivos'] = pd.to_datetime(andalucia_full_festivos['Festivos'], format="%Y-%m-%d")

In [ ]:
df_Andalucia_without_restriction = crear_localizador_por_fechas(andalucia_full_festivos, andalucia)
print(df_Andalucia_without_restriction.shape)
df_Andalucia_without_restriction.head(2)

(38853, 18)

In [ ]:
andalucia_full_festivos.dtypes

Festivos     datetime64[ns]
AÑO                   int64
SEMANA                int64
MES                   int64
Municipio            object
dtype: object

In [ ]:
clm_full_festivos['Festivos'] = pd.to_datetime(clm_full_festivos['Festivos'], format="%Y-%m-%d")

In [ ]:
df_clm_without_restriction = crear_localizador_por_fechas(clm_full_festivos, clm)
print(df_clm_without_restriction.shape)
df_clm_without_restriction.head(2)

(2908, 18)

            DIA   AÑO  ...  PROVINCIA_DESTINO  INTERPROVINCIAL
132  2019-09-01  2019  ...        Guadalajara               No
188  2019-09-01  2019  ...        Guadalajara               No

[2 rows x 18 columns]

In [ ]:
import re
def eleccion_de_municipios(df, festivos):
  municipios = festivos['Municipio']
  
  extract = "\[|\]|\,"
  lista = []
  for i, row in festivos.iterrows():
    muni = row['Municipio']
    muni = re.sub(extract,"", muni)
    muni = muni.split("'")
    for l in muni:
      if len(l) <=2:
        pass
      else:
        lista.append(l)

  lista = list(set(lista))

  lista_uno = lista[0]
  tarjeta_final = df.loc[df['ORIGEN'] == lista_uno]

  for i in lista:
    aux_filas = df.loc[df['ORIGEN'] == i]
    tarjeta_final = pd.concat((tarjeta_final, aux_filas))

  return tarjeta_final

In [ ]:
df_Andalucia = eleccion_de_municipios(df_Andalucia_without_restriction, festivos_andalucia)
print(df_Andalucia.shape)
df_Andalucia.head(3)

(29310, 18)

              DIA   AÑO  ...  PROVINCIA_DESTINO  INTERPROVINCIAL
18138  2019-08-28  2019  ...            Granada               No
63116  2019-08-28  2019  ...              Cádiz               No
71260  2019-08-28  2019  ...              Cádiz               No

[3 rows x 18 columns]

In [ ]:
df_CLM = eleccion_de_municipios(df_clm_without_restriction, festivos_clm)
print(df_CLM.shape)
df_CLM.head(3)

(2686, 18)

             DIA   AÑO  ...  PROVINCIA_DESTINO  INTERPROVINCIAL
2234  2019-09-01  2019  ...           Albacete               No
2167  2018-05-01  2018  ...           Albacete               No
2187  2018-12-06  2018  ...           Albacete               No

[3 rows x 18 columns]

In [ ]:
df_CLM.to_csv('df_CLM.csv')
df_Andalucia.to_csv('df_Andalucia.csv')

files.download('df_CLM.csv')
files.download('df_Andalucia.csv')