<a href="https://colab.research.google.com/github/JoseAlbertoSeco/BlablacarCarpooling_DataMining/blob/Patterns/notebooks/GeolocalizacionProvincial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Geolocalización de las provincias de Castilla-La Mancha y Andalucía

# Carga de datos

In [ ]:
import pandas as pd
from google.colab import files
import numpy as np

In [ ]:
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/calendario.csv
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/interim/festividadesMunicipiosAndalucia.csv
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/interim/festividadesMunicipiosCLM.csv

--2022-01-02 21:28:44--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/calendario.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/calendario.csv [following]
--2022-01-02 21:28:44--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/calendario.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/calendario.csv [following]
--2022-01-02 21:28:44--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/calendario.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6025 (5.9K) [text/plain]
Saving to: ‘calendario.csv’

calendario.csv      100%[===================>]   5.88K  --.-KB/s    in 0s

2022-01-02 21:28:45 (66.5 MB/s) - ‘calendario.csv’ saved [6025/6025]

--2022-01-02 21:28:45--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/interim/festividadesMunicipiosAndalucia.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/interim/festividadesMunicipiosAndalucia.csv [following]
--2022-01-02 21:28:45--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/interim/festividadesMunicipiosAndalucia.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/interim/festividadesMunicipiosAndalucia.csv [following]
--2022-01-02 21:28:45--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/interim/festividadesMunicipiosAndalucia.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3045 (3.0K) [text/plain]
Saving to: ‘festividadesMunicipiosAndalucia.csv’

festividadesMunicip 100%[===================>]   2.97K  --.-KB/s    in 0s

2022-01-02 21:28:45 (27.7 MB/s) - ‘festividadesMunicipiosAndalucia.csv’ saved [3045/3045]

--2022-01-02 21:28:45--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/interim/festividadesMunicipiosCLM.csv
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/interim/festividadesMunicipiosCLM.csv [following]
--2022-01-02 21:28:45--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/interim/festividadesMunicipiosCLM.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/interim/festividadesMunicipiosCLM.csv [following]
--2022-01-02 21:28:45--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/interim/festividadesMunicipiosCLM.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3309 (3.2K) [text/plain]
Saving to: ‘festividadesMunicipiosCLM.csv’

festividadesMunicip 100%[===================>]   3.23K  --.-KB/s    in 0s

2022-01-02 21:28:46 (45.8 MB/s) - ‘festividadesMunicipiosCLM.csv’ saved [3309/3309]

In [ ]:
df_calendario = pd.read_csv('calendario.csv')
df_festividadesAndalucia = pd.read_csv('festividadesMunicipiosAndalucia.csv')
df_festividadesCLM = pd.read_csv('festividadesMunicipiosCLM.csv')

## Breve visualización de los datos ha utilizar

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Datos/blablacar_basic.csv") 
df.head(7)

          DIA PAIS    ORIGEN  ... OFERTANTES_NUEVOS  CA_ORIGEN  CA_DESTINO
0  01/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
1  02/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
2  03/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
3  05/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
4  10/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
5  12/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
6  13/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco

[7 rows x 12 columns]

In [ ]:
df.dtypes

DIA                      object
PAIS                     object
ORIGEN                   object
DESTINO                  object
ASIENTOS_OFERTADOS      float64
ASIENTOS_CONFIRMADOS      int64
VIAJES_OFERTADOS          int64
VIAJES_CONFIRMADOS        int64
OFERTANTES                int64
OFERTANTES_NUEVOS         int64
CA_ORIGEN                object
CA_DESTINO               object
dtype: object

In [ ]:
df_festividadesCLM.head(5)

  Municipio       Fecha
0  Albacete  25/06/2017
1  Albacete  08/09/2017
2  Albacete  25/06/2018
3  Albacete  08/09/2018
4  Albacete  25/06/2019

In [ ]:
df_festividadesAndalucia.head(5)

  Municipio       Fecha
0   Sevilla  30/05/2017
1   Sevilla  15/06/2017
2   Sevilla  18/04/2018
3   Sevilla  31/05/2018
4   Sevilla  08/05/2019

In [ ]:
df_festividadesAndalucia.dtypes

Municipio    object
Fecha        object
dtype: object

# Geolocalizando datos

Buscamos el nombre de las diferentes comunidades autónomas

In [ ]:
lista = df['CA_ORIGEN'].to_numpy().tolist()

lista_ccaa = []

for i in lista:
  if i not in lista_ccaa:
    lista_ccaa.append(i)

lista_ccaa

['Galicia',
 'Castilla-La Mancha',
 'Madrid',
 'Aragón',
 'Comunidad Valenciana',
 'Andalucía',
 'Extremadura',
 'Castilla y León',
 'Asturias (Principado de)',
 'Cataluña',
 'Rioja',
 'Cantabria',
 'Murcia',
 'Comunidad Foral de Navarra',
 'País Vasco',
 'Ceuta',
 'Canarias',
 'Balears (Illes)']

Extraemos los viajes que se encuentran solo en las comunidades de Andalucía y CLM, comunidades autónomas sobre las que trabajaremos.

In [ ]:
def geolocalizar(df, ccaa):
  df_geolocalizado = df[df['CA_ORIGEN'] == ccaa]
  df_geolocalizado =  df_geolocalizado[df_geolocalizado['CA_DESTINO'] == ccaa]
  print(df_geolocalizado.shape)

  return df_geolocalizado

In [ ]:
df_andalucia = geolocalizar(df, 'Andalucía')
df_andalucia.head(5)

(246055, 12)

               DIA PAIS ORIGEN  ... OFERTANTES_NUEVOS  CA_ORIGEN  CA_DESTINO
285649  01/11/2017   es  Albox  ...                 0  Andalucía   Andalucía
285650  03/11/2017   es  Albox  ...                 0  Andalucía   Andalucía
285651  05/11/2017   es  Albox  ...                 0  Andalucía   Andalucía
285652  06/11/2017   es  Albox  ...                 0  Andalucía   Andalucía
285653  10/11/2017   es  Albox  ...                 1  Andalucía   Andalucía

[5 rows x 12 columns]

In [ ]:
df_andalucia.describe()

       ASIENTOS_OFERTADOS  ...  OFERTANTES_NUEVOS
count       246055.000000  ...      246055.000000
mean            21.961883  ...           0.634943
std             37.693730  ...           1.405183
min             -1.000000  ...           0.000000
25%              4.000000  ...           0.000000
50%              9.000000  ...           0.000000
75%             23.000000  ...           1.000000
max            533.000000  ...          32.000000

[8 rows x 6 columns]

In [ ]:
df_clm = geolocalizar(df, 'Castilla-La Mancha')
df_clm.head(5)

(20862, 12)

               DIA PAIS  ...           CA_ORIGEN          CA_DESTINO
453525  05/11/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha
453526  12/11/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha
453527  19/11/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha
453528  01/12/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha
453529  10/12/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha

[5 rows x 12 columns]

In [ ]:
df_clm.describe()

       ASIENTOS_OFERTADOS  ...  OFERTANTES_NUEVOS
count        20862.000000  ...       20862.000000
mean            15.871441  ...           0.440945
std             14.728704  ...           0.823553
min              1.000000  ...           0.000000
25%              5.000000  ...           0.000000
50%             11.000000  ...           0.000000
75%             22.000000  ...           1.000000
max            147.000000  ...          10.000000

[8 rows x 6 columns]

## Añadiendo Provincias

En este apartado añadiremos las provincias origen y destino de cada uno de los viajes.

In [ ]:
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/ccaa.csv

--2022-01-02 21:29:12--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/ccaa.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/ccaa.csv [following]
--2022-01-02 21:29:12--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/ccaa.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/ccaa.csv [following]
--2022-01-02 21:29:12--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/ccaa.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 299179 (292K) [text/plain]
Saving to: ‘ccaa.csv’

ccaa.csv            100%[===================>] 292.17K  --.-KB/s    in 0.04s

2022-01-02 21:29:13 (6.89 MB/s) - ‘ccaa.csv’ saved [299179/299179]

In [ ]:
ccaa = pd.read_csv('ccaa.csv')
ccaa

                  Municipio   Autonomía    Provincia
0          Alegría-Dulantzi  País Vasco  Araba/Álava
1                   Amurrio  País Vasco  Araba/Álava
2                   Aramaio  País Vasco  Araba/Álava
3                Artziniega  País Vasco  Araba/Álava
4                   Armiñón  País Vasco  Araba/Álava
...                     ...         ...          ...
8111           Las Pedrosas      Aragón     Zaragoza
8112           Los Pintanos      Aragón     Zaragoza
8113  La Puebla de Alfindén      Aragón     Zaragoza
8114             La Vilueña      Aragón     Zaragoza
8115               La Zaida      Aragón     Zaragoza

[8116 rows x 3 columns]

En este metodo añadimos la provincia en la que empieza y acaba cada viaje así como una columna que nos dice si el viaje es interprovincial o no. Se ha elegido realizar esta operación en este momento dado que la complejidad de la operación es elevada y si la realizamos con un conjunto de datos mayor podría tardar demasiado tiempo en ejecutarse.

In [ ]:
def set_interprovincial_column(df, ccaa):
    column = []
    provincia_destino = []
    provincia_origen = []
    for i in range(len(df)):
        elemento = ccaa.loc[ccaa['Municipio'] == df.iloc[i]['ORIGEN']]['Provincia'].to_string(header=False, index=False)
        sinespacio = elemento[1:len(elemento)]
        provincia_origen.append(sinespacio)
        elemento = ccaa.loc[ccaa['Municipio'] == df.iloc[i]['DESTINO']]['Provincia'].to_string(header=False, index=False)
        sinespacio = elemento[1:len(elemento)]
        provincia_destino.append(sinespacio)

        if provincia_origen[-1] == provincia_destino[-1]:
            column.append("Si")
        else:
            column.append("No")

    df['PROVINCIA_ORIGEN'] = provincia_origen
    df['PROVINCIA_DESTINO'] = provincia_destino
    df['INTERPROVINCIAL'] = column
    return df

Tarjetas de cada comunidad autonoma elegida:


*   Andalucía
*   Castilla-La Mancha

In [ ]:
df_CLMLocalizado = set_interprovincial_column(df_clm, ccaa)
df_CLMLocalizado

                DIA PAIS  ... PROVINCIA_DESTINO INTERPROVINCIAL
453525   05/11/2017   es  ...       Guadalajara              No
453526   12/11/2017   es  ...       Guadalajara              No
453527   19/11/2017   es  ...       Guadalajara              No
453528   01/12/2017   es  ...       Guadalajara              No
453529   10/12/2017   es  ...       Guadalajara              No
...             ...  ...  ...               ...             ...
1047972  26/01/2018   es  ...            Cuenca              No
1047973  11/10/2019   es  ...            Toledo              Si
1047978  06/09/2019   es  ...          Albacete              No
1048343  14/07/2018   es  ...       Guadalajara              Si
1048345  10/08/2018   es  ...       Guadalajara              Si

[20862 rows x 15 columns]

In [ ]:
df_AndaluciaLocalizado = set_interprovincial_column(df_andalucia, ccaa)
df_AndaluciaLocalizado

                DIA PAIS  ... PROVINCIA_DESTINO INTERPROVINCIAL
285649   01/11/2017   es  ...           Granada              No
285650   03/11/2017   es  ...           Granada              No
285651   05/11/2017   es  ...           Granada              No
285652   06/11/2017   es  ...           Granada              No
285653   10/11/2017   es  ...           Granada              No
...             ...  ...  ...               ...             ...
1047945  31/10/2019   es  ...           Sevilla              Si
1047946  18/10/2019   es  ...            Huelva              No
1048020  03/08/2018   es  ...           Sevilla              No
1048349  08/06/2018   es  ...            Huelva              No
1048409  06/07/2018   es  ...           Sevilla              Si

[246055 rows x 15 columns]

## Extendemos fecha

In [ ]:
def extender_fecha(df):
  df['DIA'] = pd.to_datetime(df['DIA'], format="%d/%m/%Y")
  df['AÑO'] = df['DIA'].dt.year 
  df['SEMANA'] = df['DIA'].dt.week 
  df['MES'] = df['DIA'].dt.month
  df = df[['DIA', 'AÑO', 'SEMANA', 'MES','PAIS', 'ORIGEN', 'DESTINO', 'ASIENTOS_OFERTADOS',
       'ASIENTOS_CONFIRMADOS', 'VIAJES_OFERTADOS', 'VIAJES_CONFIRMADOS',
       'OFERTANTES', 'OFERTANTES_NUEVOS', 'CA_ORIGEN', 'CA_DESTINO',
       'PROVINCIA_ORIGEN', 'PROVINCIA_DESTINO', 'INTERPROVINCIAL']]
  return df

In [ ]:
df_CLMLocalizado = extender_fecha(df_CLMLocalizado)
df_CLMLocalizado.head(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.

              DIA   AÑO  ...  PROVINCIA_DESTINO  INTERPROVINCIAL
453525 2017-11-05  2017  ...        Guadalajara               No
453526 2017-11-12  2017  ...        Guadalajara               No

[2 rows x 18 columns]

In [ ]:
df_AndaluciaLocalizado = extender_fecha(df_AndaluciaLocalizado)
df_AndaluciaLocalizado.head(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.

              DIA   AÑO  ...  PROVINCIA_DESTINO  INTERPROVINCIAL
285649 2017-11-01  2017  ...            Granada               No
285650 2017-11-03  2017  ...            Granada               No

[2 rows x 18 columns]

In [ ]:
df_AndaluciaLocalizado.shape

(246055, 18)

In [ ]:
#df_CLMLocalizado.to_csv('df_CLMLocalizado.csv')
#df_AndaluciaLocalizado.to_csv('df_AndaluciaLocalizado.csv')

#files.download('df_CLMLocalizado.csv')
#files.download('df_AndaluciaLocalizado.csv')

# Preprocesando festivos

Guardamos en dos dataframes diferentes todos los festivos pertenecientes a los días en los que hay una festividad en Andalucía y CLM

In [ ]:
def get_fechas(ccaa):
  nacionales = df_calendario[['Fiestas nacionales']]
  espeficico = df_calendario[[str(ccaa)]]

  fiestas = nacionales.merge(nacionales)
  fiestas = fiestas.rename(columns={'Fiestas nacionales':'Festivos'})
                          
  return fiestas

In [ ]:
festivos_andalucia = get_fechas('Andalucía')
festivos_andalucia.head(7)

     Festivos
0  06/01/2017
1  14/04/2017
2  01/05/2017
3  15/08/2017
4  12/10/2017
5  01/11/2017
6  06/12/2017

In [ ]:
festivos_clm = get_fechas('Castilla-La Mancha')
festivos_clm.tail(7)

      Festivos
21  19/04/2019
22  01/05/2019
23  15/08/2019
24  12/10/2019
25  01/11/2019
26  06/12/2019
27  25/12/2019

## Uniendo días festivos

En este paso unificamos los festivos autonómicos y por municipio, como resultado obtenemos un dataframe del tipo Festivo/Municipio, donde municipio es una lista con todos los municipios en los que ese día es fiesta. En este apartado también realizamos la extension de fecha de estos festivo en año, semana y mes.

In [ ]:
def extender_festivo(df):
  df['Festivos'] = pd.to_datetime(df['Festivos'], format="%d/%m/%Y")
  df['AÑO'] = df['Festivos'].dt.year 
  df['SEMANA'] = df['Festivos'].dt.week 
  df['MES'] = df['Festivos'].dt.month
  df = df[['Festivos', 'AÑO', 'SEMANA', 'MES', 'Municipio']]
  return df

In [ ]:
def unificacion_festivos(df_festivos_ccaa, df_festivos_municipios):
  municipios = list(set(df_festivos_municipios['Municipio'].to_numpy().tolist()))
  numero_elementos_columna = (df_festivos_ccaa.shape)[0]
  columna_municipios = [municipios]*numero_elementos_columna
  df_festivos_totales = df_festivos_ccaa.copy()
  df_festivos_totales['Municipio'] = columna_municipios

  df_festivos_municipios = df_festivos_municipios.rename(columns={'Fecha':'Festivos'})

  df_festivos_totales = pd.concat((df_festivos_totales, df_festivos_municipios))

  return df_festivos_totales

In [ ]:
df_totalFestivosAndalucia = unificacion_festivos(festivos_andalucia, df_festividadesAndalucia)
df_totalFestivosAndalucia.head(2)

     Festivos                                          Municipio
0  06/01/2017  [Algeciras, Motril, Granada, Almería, Málaga, ...
1  14/04/2017  [Algeciras, Motril, Granada, Almería, Málaga, ...

In [ ]:
df_totalFestivosAndalucia = extender_festivo(df_totalFestivosAndalucia)
df_totalFestivosAndalucia.head(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.

    Festivos   AÑO  ...  MES                                          Municipio
0 2017-01-06  2017  ...    1  [Algeciras, Motril, Granada, Almería, Málaga, ...
1 2017-04-14  2017  ...    4  [Algeciras, Motril, Granada, Almería, Málaga, ...

[2 rows x 5 columns]

In [ ]:
df_totalFestivosCLM = unificacion_festivos(festivos_clm, df_festividadesCLM)
df_totalFestivosCLM.head(3)

     Festivos                                          Municipio
0  06/01/2017  [Seseña, Azuqueca de Henares, Illescas, Almans...
1  14/04/2017  [Seseña, Azuqueca de Henares, Illescas, Almans...
2  01/05/2017  [Seseña, Azuqueca de Henares, Illescas, Almans...

In [ ]:
df_totalFestivosCLM = extender_festivo(df_totalFestivosCLM)
df_totalFestivosCLM.head(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.

    Festivos   AÑO  ...  MES                                          Municipio
0 2017-01-06  2017  ...    1  [Seseña, Azuqueca de Henares, Illescas, Almans...
1 2017-04-14  2017  ...    4  [Seseña, Azuqueca de Henares, Illescas, Almans...

[2 rows x 5 columns]

In [ ]:
#df_totalFestivosCLM.to_csv('df_totalFestivosCLM.csv')
#df_totalFestivosAndalucia.to_csv('df_totalFestivosAndalucia.csv')

#files.download('df_totalFestivosCLM.csv')
#files.download('df_totalFestivosAndalucia.csv')

# Añadiendo columna festivos

Añadimos la columna festivos en los dataframes de Andalucia y CLM

In [ ]:
df_CLMLocalizado.columns

Index(['DIA', 'AÑO', 'SEMANA', 'MES', 'PAIS', 'ORIGEN', 'DESTINO',
       'ASIENTOS_OFERTADOS', 'ASIENTOS_CONFIRMADOS', 'VIAJES_OFERTADOS',
       'VIAJES_CONFIRMADOS', 'OFERTANTES', 'OFERTANTES_NUEVOS', 'CA_ORIGEN',
       'CA_DESTINO', 'PROVINCIA_ORIGEN', 'PROVINCIA_DESTINO',
       'INTERPROVINCIAL'],
      dtype='object')

In [ ]:
df_CLMLocalizado.iloc[231,5]

'Cuenca'

In [ ]:
def incluir_columna_festivos(df, festivo):
  festivo_df =  (df['DIA'].dt.strftime('%d-%m-%Y')).tolist()
  festivo_ccaa = (festivo['Festivos'].dt.strftime('%d-%m-%Y')).tolist()
  festivos = festivo.copy()

  festivos['Festivos'] = festivo['Festivos'].dt.strftime('%d-%m-%Y')
  print(festivos)
  festivos_list = []
  print(festivos[['Festivos']])

  counter = 0
  for i in range(len(df)):
    if festivo_df[counter] in festivo_ccaa:
     festivos_list.append('Si')
    else:
      festivos_list.append('No')
    counter += 1

  df['Festivo'] = festivos_list
  #print(df)
  return df

In [ ]:
df_castilla = incluir_columna_festivos(df_CLMLocalizado, df_totalFestivosCLM)
df_castilla[df_castilla['Festivo'] == 'Si']

       Festivos   AÑO  ...  MES                                          Municipio
0    06-01-2017  2017  ...    1  [Seseña, Azuqueca de Henares, Illescas, Almans...
1    14-04-2017  2017  ...    4  [Seseña, Azuqueca de Henares, Illescas, Almans...
2    01-05-2017  2017  ...    5  [Seseña, Azuqueca de Henares, Illescas, Almans...
3    15-08-2017  2017  ...    8  [Seseña, Azuqueca de Henares, Illescas, Almans...
4    12-10-2017  2017  ...   10  [Seseña, Azuqueca de Henares, Illescas, Almans...
..          ...   ...  ...  ...                                                ...
133  01-09-2017  2017  ...    9                                           Torrijos
134  19-05-2018  2018  ...    5                                           Torrijos
135  01-09-2018  2018  ...    9                                           Torrijos
136  19-05-2019  2019  ...    5                                           Torrijos
137  01-09-2019  2019  ...    9                                           Torrijos

[166 rows x 5 columns]
       Festivos
0    06-01-2017
1    14-04-2017
2    01-05-2017
3    15-08-2017
4    12-10-2017
..          ...
133  01-09-2017
134  19-05-2018
135  01-09-2018
136  19-05-2019
137  01-09-2019

[166 rows x 1 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

               DIA   AÑO  SEMANA  ...  PROVINCIA_DESTINO INTERPROVINCIAL Festivo
453538  2018-02-05  2018       6  ...        Guadalajara              No      Si
453541  2018-02-16  2018       7  ...        Guadalajara              No      Si
453544  2018-03-19  2018      12  ...        Guadalajara              No      Si
453545  2018-04-02  2018      14  ...        Guadalajara              No      Si
453549  2018-05-01  2018      18  ...        Guadalajara              No      Si
...            ...   ...     ...  ...                ...             ...     ...
1041299 2019-10-12  2019      41  ...           Albacete              No      Si
1042140 2018-11-01  2018      44  ...        Ciudad Real              No      Si
1043058 2019-09-07  2019      36  ...           Albacete              Si      Si
1043588 2018-05-21  2018      21  ...             Cuenca              No      Si
1046253 2018-11-01  2018      44  ...        Guadalajara              Si      Si

[2220 rows x 19 columns]

In [ ]:
df_andalucia = incluir_columna_festivos(df_AndaluciaLocalizado, df_totalFestivosAndalucia)
df_andalucia[df_andalucia['Festivo'] == 'Si']

       Festivos   AÑO  ...  MES                                          Municipio
0    06-01-2017  2017  ...    1  [Algeciras, Motril, Granada, Almería, Málaga, ...
1    14-04-2017  2017  ...    4  [Algeciras, Motril, Granada, Almería, Málaga, ...
2    01-05-2017  2017  ...    5  [Algeciras, Motril, Granada, Almería, Málaga, ...
3    15-08-2017  2017  ...    8  [Algeciras, Motril, Granada, Almería, Málaga, ...
4    12-10-2017  2017  ...   10  [Algeciras, Motril, Granada, Almería, Málaga, ...
..          ...   ...  ...  ...                                                ...
131  09-09-2019  2019  ...    9                                            Andújar
132  13-09-2019  2019  ...    9                                            Andújar
133  28-08-2017  2017  ...    8                                            Linares
134  28-08-2018  2018  ...    8                                            Linares
135  28-08-2019  2019  ...    8                                            Linares

[164 rows x 5 columns]
       Festivos
0    06-01-2017
1    14-04-2017
2    01-05-2017
3    15-08-2017
4    12-10-2017
..          ...
131  09-09-2019
132  13-09-2019
133  28-08-2017
134  28-08-2018
135  28-08-2019

[164 rows x 1 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

               DIA   AÑO  SEMANA  ...  PROVINCIA_DESTINO INTERPROVINCIAL Festivo
285649  2017-11-01  2017      44  ...            Granada              No      Si
285657  2017-11-25  2017      47  ...            Granada              No      Si
285662  2017-12-25  2017      52  ...            Granada              No      Si
285663  2017-12-26  2017      52  ...            Granada              No      Si
285670  2018-02-12  2018       7  ...            Granada              No      Si
...            ...   ...     ...  ...                ...             ...     ...
1047920 2018-03-29  2018      13  ...             Huelva              No      Si
1047921 2018-06-11  2018      24  ...            Córdoba              No      Si
1047926 2018-08-14  2018      33  ...            Sevilla              Si      Si
1047939 2019-08-24  2019      34  ...             Huelva              No      Si
1047944 2019-10-11  2019      41  ...            Sevilla              Si      Si

[32374 rows x 19 columns]

In [ ]:
df_castilla.to_csv('df_castilla.csv')
df_andalucia.to_csv('df_andalucia.csv')

files.download('df_castilla.csv')
files.download('df_andalucia.csv')

# Viajes en festivos

In [ ]:
def get_coincidentes(days, df_autonomia):
  coincident_days = []
  for i in days:
    if df_autonomia[df_autonomia['DIA']==i].size != 0:
      coincident_days.append(i)

  return coincident_days

def crear_localizador_por_fechas(festivos, df_autonomia):
  # Obtención de todos los festivos de esa comunidad
  festivos['Festivos'] = festivos['Festivos'].apply(lambda x: x.strftime('%Y-%m-%d'))
  dias_festivos = (festivos['Festivos'].values).tolist()

  # Obtener los viajes que coinciden con dias festivos, devuelve una lista
  dias_festivos = get_coincidentes(dias_festivos, df_autonomia)

  df_final = df_autonomia[df_autonomia['DIA']==dias_festivos.pop()]
  for day in dias_festivos:
    dia = df_autonomia[df_autonomia['DIA']==day]
    df_final = pd.concat((df_final, dia))

 
  return df_final

def eleccion_de_municipios(df, festivos):
  municipios = festivos['Municipio']
  lista_municipios = municipios[1].to_numpy().tolist()
  lista = lista_municipios[0]

  tarjeta_final = df[df['ORIGEN'] == lista.pop()]

  for i in lista:
    
    aux_filas = df[df['ORIGEN'] == i]

    tarjeta_final = pd.concat((tarjeta_final, aux_filas))

  return tarjeta_final

A continuación se crea una tarjeta de datos con los dias en donde es festivo de Andalucía.

In [ ]:
df_AndaluciaLocalizadoFestivos = crear_localizador_por_fechas(df_totalFestivosAndalucia, df_AndaluciaLocalizado)
df_AndaluciaLocalizadoFestivos = eleccion_de_municipios(df_AndaluciaLocalizadoFestivos, df_totalFestivosAndalucia )
print(df_AndaluciaLocalizadoFestivos.shape)

(24516, 19)

In [ ]:
df_AndaluciaLocalizadoFestivos.head(3)

              DIA   AÑO  SEMANA  ...  PROVINCIA_DESTINO INTERPROVINCIAL Festivo
576138 2019-08-28  2019      35  ...             Málaga              No      Si
789262 2017-11-01  2017      44  ...            Almería              No      Si
810467 2017-11-01  2017      44  ...             Málaga              No      Si

[3 rows x 19 columns]

In [ ]:
df_CLMLocalizadoFestivos = crear_localizador_por_fechas(df_totalFestivosCLM, df_CLMLocalizado)
df_CLMLocalizadoFestivos = eleccion_de_municipios(df_CLMLocalizadoFestivos, df_totalFestivosCLM)
print(df_CLMLocalizadoFestivos.shape)

(2669, 19)

In [ ]:
df_CLMLocalizadoFestivos.head(3)

              DIA   AÑO  SEMANA  ...  PROVINCIA_DESTINO INTERPROVINCIAL Festivo
726219 2019-08-22  2019      34  ...        Ciudad Real              No      Si
630196 2018-09-14  2018      37  ...           Albacete              No      Si
453657 2019-09-01  2019      35  ...        Guadalajara              No      Si

[3 rows x 19 columns]

In [ ]:
df_CLMLocalizadoFestivos.to_csv('df_CLMFestivos_Dia.csv')
df_AndaluciaLocalizadoFestivos.to_csv('df_AndaluciaFestivos_Dia.csv')

files.download('df_CLMFestivos_Dia.csv')
files.download('df_AndaluciaFestivos_Dia.csv')

# Latex tables

In [ ]:
df_totalFestivosCLM.head(5).to_latex()

'\\begin{tabular}{llrrrl}\n\\toprule\n{} &    Festivos &   AÑO &  SEMANA &  MES &                                          Municipio \\\\\n\\midrule\n0 &  2017-01-06 &  2017 &       1 &    1 &  [Albacete, Toledo, Torrijos, Guadalajara, Tome... \\\\\n1 &  2017-04-14 &  2017 &      15 &    4 &  [Albacete, Toledo, Torrijos, Guadalajara, Tome... \\\\\n2 &  2017-05-01 &  2017 &      18 &    5 &  [Albacete, Toledo, Torrijos, Guadalajara, Tome... \\\\\n3 &  2017-08-15 &  2017 &      33 &    8 &  [Albacete, Toledo, Torrijos, Guadalajara, Tome... \\\\\n4 &  2017-10-12 &  2017 &      41 &   10 &  [Albacete, Toledo, Torrijos, Guadalajara, Tome... \\\\\n\\bottomrule\n\\end{tabular}\n'

In [ ]:
df_AndaluciaLocalizadoFestivos.head(5).to_latex()

'\\begin{tabular}{llrrrlllrrrrrrllllll}\n\\toprule\n{} &        DIA &   AÑO &  SEMANA &  MES & PAIS &  ORIGEN &               DESTINO &  ASIENTOS\\_OFERTADOS &  ASIENTOS\\_CONFIRMADOS &  VIAJES\\_OFERTADOS &  VIAJES\\_CONFIRMADOS &  OFERTANTES &  OFERTANTES\\_NUEVOS &  CA\\_ORIGEN & CA\\_DESTINO & PROVINCIA\\_ORIGEN & PROVINCIA\\_DESTINO & INTERPROVINCIAL & Festivo \\\\\n\\midrule\n576138 & 2019-08-28 &  2019 &      35 &    8 &   es &  Motril &                Málaga &                 9.0 &                     3 &                 3 &                   2 &           3 &                  0 &  Andalucía &  Andalucía &          Granada &            Málaga &              No &      Si \\\\\n789262 & 2017-11-01 &  2017 &      44 &   11 &   es &  Motril &               Almería &                 8.0 &                     2 &                 5 &                   2 &           5 &                  0 &  Andalucía &  Andalucía &          Granada &           Almería &              No &      Si \\\\\n810467 & 2017-11-01 &  2017 &      44 &   11 &   es &  Motril &          Torremolinos &                 3.0 &                     2 &                 1 &                   1 &           1 &                  0 &  Andalucía &  Andalucía &          Granada &            Málaga &              No &      Si \\\\\n460332 & 2017-12-06 &  2017 &      49 &   12 &   es &  Motril &  Jerez de la Frontera &                 1.0 &                     1 &                 1 &                   1 &           1 &                  0 &  Andalucía &  Andalucía &          Granada &             Cádiz &              No &      Si \\\\\n575586 & 2017-12-06 &  2017 &      49 &   12 &   es &  Motril &                Málaga &                33.0 &                     4 &                12 &                   3 &          11 &                  0 &  Andalucía &  Andalucía &          Granada &            Málaga &              No &      Si \\\\\n\\bottomrule\n\\end{tabular}\n'

In [ ]:
df_CLMLocalizadoFestivos.head(5).to_latex()

'\\begin{tabular}{llrrrlllrrrrrrllllll}\n\\toprule\n{} &        DIA &   AÑO &  SEMANA &  MES & PAIS &    ORIGEN &        DESTINO &  ASIENTOS\\_OFERTADOS &  ASIENTOS\\_CONFIRMADOS &  VIAJES\\_OFERTADOS &  VIAJES\\_CONFIRMADOS &  OFERTANTES &  OFERTANTES\\_NUEVOS &           CA\\_ORIGEN &          CA\\_DESTINO & PROVINCIA\\_ORIGEN & PROVINCIA\\_DESTINO & INTERPROVINCIAL & Festivo \\\\\n\\midrule\n726219 & 2019-08-22 &  2019 &      34 &    8 &   es &  Illescas &    Ciudad Real &                 3.0 &                     1 &                 1 &                   1 &           1 &                  0 &  Castilla-La Mancha &  Castilla-La Mancha &           Toledo &       Ciudad Real &              No &      Si \\\\\n630196 & 2018-09-14 &  2018 &      37 &    9 &   es &  Illescas &       Albacete &                 2.0 &                     2 &                 1 &                   1 &           1 &                  0 &  Castilla-La Mancha &  Castilla-La Mancha &           Toledo &          Albacete &              No &      Si \\\\\n453657 & 2019-09-01 &  2019 &      35 &    9 &   es &  Albacete &    Guadalajara &                22.0 &                     2 &                 8 &                   2 &           8 &                  0 &  Castilla-La Mancha &  Castilla-La Mancha &         Albacete &       Guadalajara &              No &      Si \\\\\n704461 & 2019-09-01 &  2019 &      35 &    9 &   es &  Albacete &  Villarrobledo &                40.0 &                     5 &                17 &                   2 &          17 &                  0 &  Castilla-La Mancha &  Castilla-La Mancha &         Albacete &          Albacete &              Si &      Si \\\\\n716949 & 2019-09-01 &  2019 &      35 &    9 &   es &  Albacete &     Manzanares &                20.0 &                     1 &                 9 &                   1 &           8 &                  0 &  Castilla-La Mancha &  Castilla-La Mancha &         Albacete &       Ciudad Real &              No &      Si \\\\\n\\bottomrule\n\\end{tabular}\n'