In [ ]:
import pandas as pd
import os

Primer acercamiento a los datos, realizamos un primer analisis de datos y una primera toma de contacto con los problemas encontrados en ellos

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Datos/DATOS_BLABLACAR.txt', sep = "|")

Columnas y tipos de columnas

In [ ]:
df.dtypes

DIA                      object
PAIS                     object
ORIGEN                   object
DESTINO                  object
IMP_KM                  float64
ASIENTOS_OFERTADOS      float64
ASIENTOS_CONFIRMADOS      int64
VIAJES_OFERTADOS          int64
VIAJES_CONFIRMADOS        int64
OFERTANTES                int64
OFERTANTES_NUEVOS         int64
dtype: object

Descripción general

In [ ]:
df.describe()

             IMP_KM  ASIENTOS_OFERTADOS  ...    OFERTANTES  OFERTANTES_NUEVOS
count  1.411561e+06        1.134691e+07  ...  1.134691e+07       1.134691e+07
mean   5.594201e-02        5.051199e+00  ...  2.278250e+00       2.095980e-01
std    9.954113e-03        1.187642e+01  ...  5.173927e+00       6.290458e-01
min    1.258492e-03       -4.000000e+00  ...  1.000000e+00       0.000000e+00
25%    4.929144e-02        2.000000e+00  ...  1.000000e+00       0.000000e+00
50%    5.555556e-02        3.000000e+00  ...  1.000000e+00       0.000000e+00
75%    6.026786e-02        4.000000e+00  ...  2.000000e+00       0.000000e+00
max    4.117647e-01        1.509000e+03  ...  6.600000e+02       9.000000e+01

[8 rows x 7 columns]

Valores nulos

In [ ]:
df.isnull().values.any()

True

Número total de valores nulos por columna

In [ ]:
df.isnull().sum()

DIA                           0
PAIS                          0
ORIGEN                        0
DESTINO                       0
IMP_KM                  9935353
ASIENTOS_OFERTADOS            1
ASIENTOS_CONFIRMADOS          0
VIAJES_OFERTADOS              0
VIAJES_CONFIRMADOS            0
OFERTANTES                    0
OFERTANTES_NUEVOS             0
dtype: int64

Filas y columnas iniciales

In [ ]:
df.shape

(11346914, 11)

Una vez comprobados los valores extraeremos el porcentaje IMP_KM de valores nulos:

In [ ]:
df['IMP_KM'].isnull().sum()*100/len(df.index)

87.55995683055322

In [ ]:
def analisis_problemas():
    no_seats_oferrs = df[df['ASIENTOS_OFERTADOS'] == 0]
    print('Viajes sin asientos ofertados: ', len(no_seats_oferrs.index),
        '\tPorcentaje: ', (len(no_seats_oferrs.index)*100)/len(df.index),'%')
    
    empty_tavel =  df[df['ASIENTOS_CONFIRMADOS'] == 0]
    print('Viajes sin asientos confirmados: ', len(empty_tavel.index),
        '\tPorcentaje: ', (len(empty_tavel.index)*100)/len(df.index),'%')

    pt = df[df['PAIS'] != 'es']
    print('Viajes que inician o acaban en Portugal: ', len(pt.index),
            '\tPorcentaje: ', (len(pt.index)*100)/len(df.index),'%')

In [ ]:
analisis_problemas()

Viajes sin asientos ofertados:  1057077 	Porcentaje:  9.315986707927811 %
Viajes sin asientos confirmados:  9935352 	Porcentaje:  87.55994801758435 %
Viajes que inician o acaban en Portugal:  491051 	Porcentaje:  4.327617182962698 %