<a href="https://colab.research.google.com/github/JoseAlbertoSeco/BlablacarCarpooling_DataMining/blob/Patterns/notebooks/Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# Carga de datos

In [ ]:
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/df_CLM.csv

--2021-12-28 10:56:41--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/df_CLMLocalizado.csv
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_CLMLocalizado.csv [following]
--2021-12-28 10:56:41--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_CLMLocalizado.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_CLMLocalizado.csv [following]
--2021-12-28 10:56:42--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_CLMLocalizado.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2681302 (2.6M) [text/plain]
Saving to: ‘df_CLMLocalizado.csv’

df_CLMLocalizado.cs 100%[===================>]   2.56M  --.-KB/s    in 0.06s

2021-12-28 10:56:42 (39.9 MB/s) - ‘df_CLMLocalizado.csv’ saved [2681302/2681302]

--2021-12-28 10:56:42--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/df_totalFestivosAndalucia.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_totalFestivosAndalucia.csv [following]
--2021-12-28 10:56:42--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_totalFestivosAndalucia.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_totalFestivosAndalucia.csv [following]
--2021-12-28 10:56:42--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_totalFestivosAndalucia.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14101 (14K) [text/plain]
Saving to: ‘df_totalFestivosAndalucia.csv’

df_totalFestivosAnd 100%[===================>]  13.77K  --.-KB/s    in 0s

2021-12-28 10:56:42 (67.4 MB/s) - ‘df_totalFestivosAndalucia.csv’ saved [14101/14101]

--2021-12-28 10:56:43--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/df_totalFestivosCLM.csv
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_totalFestivosCLM.csv [following]
--2021-12-28 10:56:43--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_totalFestivosCLM.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_totalFestivosCLM.csv [following]
--2021-12-28 10:56:43--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_totalFestivosCLM.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15334 (15K) [text/plain]
Saving to: ‘df_totalFestivosCLM.csv’

df_totalFestivosCLM 100%[===================>]  14.97K  --.-KB/s    in 0s

2021-12-28 10:56:43 (33.4 MB/s) - ‘df_totalFestivosCLM.csv’ saved [15334/15334]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Carga provincial

In [ ]:
andalucia = pd.read_csv("/content/drive/MyDrive/Datos/df_AndaluciaLocalizado.csv") 
andalucia = andalucia.drop(andalucia.columns[[0]], axis=1)
andalucia.head(3)

          DIA   AÑO  SEMANA  ...  PROVINCIA_ORIGEN PROVINCIA_DESTINO INTERPROVINCIAL
0  2017-11-01  2017      44  ...           Almería           Granada              No
1  2017-11-03  2017      44  ...           Almería           Granada              No
2  2017-11-05  2017      44  ...           Almería           Granada              No

[3 rows x 18 columns]

In [ ]:
clm = pd.read_csv("df_CLMLocalizado.csv") 
clm = clm.drop(clm.columns[[0]], axis=1)
clm.head(3)

          DIA   AÑO  SEMANA  ...  PROVINCIA_ORIGEN PROVINCIA_DESTINO INTERPROVINCIAL
0  2017-11-05  2017      44  ...          Albacete       Guadalajara              No
1  2017-11-12  2017      45  ...          Albacete       Guadalajara              No
2  2017-11-19  2017      46  ...          Albacete       Guadalajara              No

[3 rows x 18 columns]

## Carga dias festivos

In [ ]:
festivos_clm = pd.read_csv("df_totalFestivosAndalucia.csv")
festivos_clm = festivos_clm.drop(festivos_clm.columns[[0]], axis=1)
festivos_clm.head(3)

     Festivos   AÑO  ...  MES                                          Municipio
0  2017-01-06  2017  ...    1  ['Motril', 'Linares', 'Granada', 'Alcalá de Gu...
1  2017-04-14  2017  ...    4  ['Motril', 'Linares', 'Granada', 'Alcalá de Gu...
2  2017-05-01  2017  ...    5  ['Motril', 'Linares', 'Granada', 'Alcalá de Gu...

[3 rows x 5 columns]

In [ ]:
festivos_andalucia = pd.read_csv("df_totalFestivosCLM.csv")
festivos_andalucia = festivos_andalucia.drop(festivos_andalucia.columns[[0]], axis=1)
festivos_andalucia.head(3)

     Festivos   AÑO  ...  MES                                          Municipio
0  2017-01-06  2017  ...    1  ['Tomelloso', 'Alovera', 'Toledo', 'La Roda', ...
1  2017-04-14  2017  ...    4  ['Tomelloso', 'Alovera', 'Toledo', 'La Roda', ...
2  2017-05-01  2017  ...    5  ['Tomelloso', 'Alovera', 'Toledo', 'La Roda', ...

[3 rows x 5 columns]

# Label Encoding

Transformamos categorias categóricas en categorias numéricas

## Encoding Andalucia

In [ ]:
andalucia.dtypes

DIA                      object
AÑO                       int64
SEMANA                    int64
MES                       int64
PAIS                     object
ORIGEN                   object
DESTINO                  object
ASIENTOS_OFERTADOS      float64
ASIENTOS_CONFIRMADOS      int64
VIAJES_OFERTADOS          int64
VIAJES_CONFIRMADOS        int64
OFERTANTES                int64
OFERTANTES_NUEVOS         int64
CA_ORIGEN                object
CA_DESTINO               object
PROVINCIA_ORIGEN         object
PROVINCIA_DESTINO        object
INTERPROVINCIAL          object
dtype: object

In [ ]:
andalucia_to_encoded = andalucia.copy()

In [ ]:
# 'ORIGEN', 'DESTINO', 'CA_ORIGEN', 'CA_DESTINO', 'PROVINCIA_ORIGEN', 'PROVINCIA_DESTINO', 'INTERPROVINCIAL'
andalucia_to_encoded['ORIGEN'] = andalucia['ORIGEN'].astype('category')
andalucia_to_encoded['ORIGEN_LE'] = andalucia['ORIGEN'].cat.codes

In [ ]:
andalucia_to_encoded['DESTINO'] = andalucia['DESTINO'].astype('category')
andalucia_to_encoded['DESTINO_LE'] = andalucia['DESTINO'].cat.codes

In [ ]:
andalucia_to_encoded['CA_ORIGEN'] = andalucia['CA_ORIGEN'].astype('category')
andalucia_to_encoded['CA_ORIGEN_LE'] = andalucia['CA_ORIGEN'].cat.codes

In [ ]:
andalucia_to_encoded['CA_DESTINO'] = andalucia['CA_DESTINO'].astype('category')
andalucia_to_encoded['CA_DESTINO_LE'] = andalucia['CA_DESTINO'].cat.codes

In [ ]:
andalucia_to_encoded['PROVINCIA_ORIGEN'] = andalucia['PROVINCIA_ORIGEN'].astype('category')
andalucia_to_encoded['PROVINCIA_ORIGEN_LE'] = andalucia['PROVINCIA_ORIGEN'].cat.codes

In [ ]:
andalucia_to_encoded['PROVINCIA_DESTINO'] = andalucia['PROVINCIA_DESTINO'].astype('category')
andalucia_to_encoded['PROVINCIA_DESTINO_LE'] = andalucia['PROVINCIA_DESTINO'].cat.codes

In [ ]:
andalucia_to_encoded['INTERPROVINCIAL'] = andalucia['INTERPROVINCIAL'].astype('category')
andalucia_to_encoded['INTERPROVINCIAL_LE'] = andalucia['INTERPROVINCIAL'].cat.codes

In [ ]:
andalucia_to_encoded.tail(5)

               DIA   AÑO  ...  PROVINCIA_DESTINO_LE  INTERPROVINCIAL_LE
246050  2019-10-31  2019  ...                     8                   1
246051  2019-10-18  2019  ...                     4                   0
246052  2018-08-03  2018  ...                     8                   0
246053  2018-06-08  2018  ...                     4                   0
246054  2018-07-06  2018  ...                     8                   1

[5 rows x 25 columns]

In [ ]:
andalucia_encoded = andalucia_to_encoded.drop(columns=['ORIGEN', 'DESTINO', 'CA_ORIGEN', 'CA_DESTINO', 'PROVINCIA_ORIGEN', 'PROVINCIA_DESTINO', 'INTERPROVINCIAL', 'PAIS'])
andalucia_encoded.head(2)

          DIA   AÑO  ...  PROVINCIA_DESTINO_LE  INTERPROVINCIAL_LE
0  2017-11-01  2017  ...                     3                   0
1  2017-11-03  2017  ...                     3                   0

[2 rows x 17 columns]

## Encoding Castilla-La Mancha

In [ ]:
clm_to_encode = clm.copy()

In [ ]:
# 'ORIGEN', 'DESTINO', 'CA_ORIGEN', 'CA_DESTINO', 'PROVINCIA_ORIGEN', 'PROVINCIA_DESTINO', 'INTERPROVINCIAL'
clm_to_encode['ORIGEN_LE'] = clm['ORIGEN'].astype('category').cat.codes

In [ ]:
clm_to_encode['DESTINO_LE'] = clm['DESTINO'].astype('category').cat.codes

In [ ]:
clm_to_encode['CA_ORIGEN_LE'] = clm['CA_ORIGEN'].astype('category').cat.codes

In [ ]:
clm_to_encode['CA_DESTINO_LE'] = clm['CA_DESTINO'].astype('category').cat.codes

In [ ]:
clm_to_encode['PROVINCIA_ORIGEN_LE'] = clm['PROVINCIA_ORIGEN'].astype('category').cat.codes

In [ ]:
clm_to_encode['PROVINCIA_DESTINO_LE'] = clm['PROVINCIA_DESTINO'].astype('category').cat.codes

In [ ]:
clm_to_encode['INTERPROVINCIAL_LE'] = clm['INTERPROVINCIAL'].astype('category').cat.codes

In [ ]:
clm_to_encode.tail(5)

              DIA   AÑO  ...  PROVINCIA_DESTINO_LE  INTERPROVINCIAL_LE
20857  2018-01-26  2018  ...                     3                   0
20858  2019-10-11  2019  ...                     5                   1
20859  2019-09-06  2019  ...                     0                   0
20860  2018-07-14  2018  ...                     4                   1
20861  2018-08-10  2018  ...                     4                   1

[5 rows x 25 columns]

In [ ]:
clm_encode = clm_to_encode.drop(columns=['ORIGEN', 'DESTINO', 'CA_ORIGEN', 'CA_DESTINO', 'PROVINCIA_ORIGEN', 'PROVINCIA_DESTINO', 'INTERPROVINCIAL', 'PAIS'])
clm_encode.head(2)

          DIA   AÑO  ...  PROVINCIA_DESTINO_LE  INTERPROVINCIAL_LE
0  2017-11-05  2017  ...                     4                   0
1  2017-11-12  2017  ...                     4                   0

[2 rows x 17 columns]

# Regression

El proceso de regresión se realizará con los datos de **clm_encoded** y **andalucia_encoded**.

AttributeError: ignored